---
---

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import 'vars.scss';

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.row{
  display: flex;
}

.col{
  display: flex;
  flex-direction: column;
}

.wrap{
  flex-wrap: wrap;
}

.btn {
  color: white;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);;
  padding: 10px 20px;
  border-radius: 25px;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;

  display: flex;
  justify-content: center;

  transition-property: all;
  transition-duration: 250ms;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);
  }
  
  img {
    height: 30px;
    margin-right: 10px;
  }

  span {
    font-size: 25px;
  }

  &.donate{
    background-image: linear-gradient(to right, #163DA2, #301662);
    &:hover{
      background-image: linear-gradient(to right, #163DA2, #351079);
    }
  }
}
