$bottomColor: #221736;
$boxShadowSoft: 0 5px 50px rgba(0, 0, 0, 0.5);
$boxShadowSoftSmall: 0 5px 15px rgba(0, 0, 0, 0.5);
$boxShadowSoftSmallHover: 0 10px 25px rgba(0, 0, 0, 0.5);

$medium: screen and (max-width: 1270px);

@mixin hideOnMedium{
  @media screen and (max-width: 1270px) {
    display: none;
  }
}

@mixin medium{
  @media screen and (max-width: 1270px) {
    @content;
  }
}

@mixin hideOnSmall{
  @media screen and (max-width: 1070px) {
    display: none;
  }
}

@mixin small{
  @media screen and (max-width: 1070px) {
    @content;
  }
}