$bottomColor: #221736;
$boxShadowSoft: 0px 0px 15px rgba(0, 0, 0, 0.8);
$boxShadowSoftSmall: 0px 0px 10px rgba(0, 0, 0, 0.6);

$medium: screen and (max-width: 1270px);

@mixin hideOnMedium{
  @media screen and (max-width: 1270px) {
    display: none;
  }
}

@mixin medium{
  @media screen and (max-width: 1270px) {
    @content;
  }
}

@mixin hideOnSmall{
  @media screen and (max-width: 1070px) {
    display: none;
  }
}

@mixin small{
  @media screen and (max-width: 1070px) {
    @content;
  }
}