@import '../vars.scss';

#intro {
  background-image: url($baseUrl+'/assets/banner.png');
  background-size: cover;
  background-position-x: center;
  width: 100%;
  height: 100vh;

  position: relative;
  z-index: 1;

  overflow-x: hidden;

  .blurLoader {
    background-image: linear-gradient(rgba(78, 4, 76, 0), rgba(78, 4, 76, 0.144), $bottomColor 95%);

    animation: 1000ms initialBlur;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .absLogo {
    position: fixed;
    top: 0;
    left: 10px;

    width: 70px;
    max-width: 15vw;

    opacity: 0.7;
    transition: opacity .25s;
    cursor: pointer;

    &:hover{
      opacity: 1;
    }
  }

  .absCopyText {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    z-index: 3;
    
    a {
      text-decoration: none;
      color: #4289E6;
    }
  }
  
  .mainContent{
    align-items: center;
    margin: auto 0;

    @include medium{
      flex-direction: column-reverse;
    }
  }

  .videoContainer {
    background-color: #25449A;
    margin-left: 10vw;
    border-radius: 35px;
    box-shadow: $boxShadowSoft;
    overflow: hidden;
    // min-width: 30vw;
    // min-height: 18vw;

    @include medium{
      margin: 0 auto;
    }

    @include hideOnSmall;
    
    iframe {
      margin-bottom: -4px;
    }
  }

  .titleContainer{
    margin: 0 auto;
    text-align: center;
    text-shadow: 0px 5px 20px rgba(0, 0, 0, .25);
    color: white;

    @include medium{
      margin-bottom: 200px;
    }

    @include small{
      margin: 0 5vw;
    }

    h1{
      font-size: 60pt;
      margin: 0;
      position: relative;
      z-index: 2;

      @include small{
        font-size: 50pt;
      }
    }

    h2{
      font-size: 40pt;
      margin: 0;
      font-weight: 400;
      position: relative;
      z-index: 2;

      @include small{
        font-size: 35pt;
      }
    }

    position: relative;
    z-index: 2;

    .svgContainer {
      z-index: 1;
      position: absolute;
      width: 150%;
      height: 300%;
      top: -100%;
      left: -25%;

      @include hideOnSmall;

      svg{
        width: 100%;
        height: 100%;

        polygon{
          stroke-width: 3;
          stroke-linejoin: round;
          fill-opacity: 0.6;
          stroke-opacity: 0.8;

          animation-duration: 10s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-name: anim1;
        }

        polygon:nth-of-type(1){
          animation-delay: 600ms;
        }

        polygon:nth-of-type(2){
          animation-delay: 1600ms;
        }

        polygon:nth-of-type(3){
          animation-delay: 2000ms;
        }

        polygon:nth-of-type(4){
          animation-delay: 2600ms;
        }

        polygon:nth-of-type(5){
          animation-delay: 3000ms;
        }

        .c1{
          fill: #7a1ad4;
          stroke: #7a1ad4;
        }

        .c2{
          fill: #e95b30;
          stroke: #e95b30;
        }
      }
    }
  }

  .transition{
    margin: 0 10vw;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 25px;
      
    @include small{
      justify-content: center;
      padding-bottom: 40px;
    }

    .downloadContainer{
      width: fit-content;
      @include small{
        margin-bottom: 40px;
      }

      .download{
        background-color: #42E6A4;

        @include small{
          margin: 0 auto;
        }

        &:hover{
          background-color: #30d694;
        }
      }
    }

    p{
      color: white;
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}

@keyframes anim1 {
  0% {
    transform: translateX(0px) translateY(0px);
  }

  30% {
    transform: translateX(2px) translateY(3px);
  }

  50% {
    transform: translateX(3px) translateY(-2px);
  }

  70% {
    transform: translateX(-2px) translateY(-3px);
  }

  85% {
    transform: translateX(-3px) translateY(4px);
  }

  100% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes initialBlur {
  0% {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
  }
  
  100% {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
}

@keyframes initialScale {
  0% {
    transform: scale(1.3) translateX(80px);
  }
  
  100% {
    transform: scale(1) translateX(0px);
  }
}

